---
import Layout from '../layouts/Layout.astro';
---

<Layout subtitle="Portfolio">
  <div class="min-h-screen w-full flex flex-col justify-center items-center gap-16">
		<div class="flex justify-center">
			<img src="/images/self.jpg" alt="Nishant Aanjaney Jalan" class="w-1/2 aspect-square rounded-full">
		</div>
		<div>
			<span class="text-4xl block">Hi, I am <h1 class="text-primary inline">Nishant Aanjaney Jalan</h1></span>
			<span class="text-4xl block">a.k.a <h1 class="text-secondary inline">cybercoder.naj</h1></span>
		</div>
	</div>
</Layout>