@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Neutrals */
  --color-background: hsl(240 30% 99%);
  --color-surface: hsl(240 25% 97%);
  --color-surface-elevated: hsl(0 0% 100%);
  --color-border: hsl(240 15% 89%);

  /* Brand */
  --color-primary: hsl(262 88% 67%);
  --color-secondary: hsl(215 92% 60%);

  /* Text */
  --color-foreground: hsl(240 20% 12%);
  --color-foreground-secondary: hsl(240 10% 38%);
  --color-foreground-muted: hsl(240 8% 50%);

  /*
   * Typography
   */
  --font-sans: 'Sora', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  /*
   * Breakpoints
   */
  --breakpoint-2xs: 28rem;
  --breakpoint-xs: 32rem;
}

/*
 * ============================================================================
 * Dark Theme
 * ============================================================================
 */
.dark {
  /* Neutrals */
  --color-background: hsl(240 20% 8%);
  --color-surface: hsl(240 16% 11%);
  --color-surface-elevated: hsl(240 15% 15%);
  --color-border: hsl(240 10% 20%);

  /* Brand */
  --color-primary: hsl(262 88% 67%);
  --color-secondary: hsl(215 92% 60%);

  /* Text */
  --color-foreground: hsl(0 0% 97%);
  --color-foreground-secondary: hsl(240 8% 70%);
  --color-foreground-muted: hsl(240 7% 55%);

  --color-separator: hsl(240 10% 18%);
}
