@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: hsl(250, 3%, 94%);
  --color-primary-100: hsl(250, 20%, 90%);
  --color-primary-200: hsl(250, 37%, 86%);
  --color-primary-300: hsl(250, 55%, 84%);
  --color-primary-400: hsl(250, 73%, 79%);
  --color-primary-500: hsl(250, 90%, 75%);
  --color-primary-600: hsl(250, 70%, 58%);
  --color-primary-650: hsl(250, 60%, 50%);
  --color-primary-700: hsl(250, 50%, 42%);
  --color-primary-750: hsl(250, 40%, 35%);
  --color-primary-800: hsl(250, 30%, 26%);
  --color-primary-900: hsl(250, 20%, 18%);
  --color-primary-950: hsl(250, 10%, 10%);
}
