@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Sora:wght@100..800&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-gradient: wave 3s ease infinite;

  --color-electric-blue: #00f0ff;
  --color-neon-pink: #ff13f0;

  --font-mono: 'Fira Code', monospace;
  --font-serif: 'Sora', sans-serif;

  @keyframes wave {
    0%,
    100% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}

body {
  @apply max-h-full w-screen overflow-hidden;
}

#app {
  @apply h-svh max-h-full overflow-y-scroll scroll-smooth bg-white dark:bg-black;
}
