---
import '@fontsource/montserrat';

interface Props {
  subtitle: string;
}

const { subtitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Nishant Aanjaney Jalan | {subtitle}</title>
  </head>
  <body class="bg-surface text-on-surface">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-primary: #e49b0f;
    --color-secondary: #0f5ae4;
    --color-surface: #000010;
    --color-on-surface: #ffffff;
  }

  * {
    font-family: 'Montserrat', sans-serif;
  }
</style>
